*{
    margin: 0px;
    padding:0px;
}

/* body{
    background: linear-gradient(to right, #414345, #232526);
    font-family: 'Cabin', sans-serif;
    height: 100%;
}

.grid-container{
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(4,1fr);  
    grid-template-rows: 10% 80% 10%; 
    grid-template-areas: "header header nav nav"
                        "main main main main"
                        "footer footer footer footer"
    ;
}

header{
    grid-area: header;
    display: flex;
    flex-direction: row;

}

.header{
    height: 10vh;
}

.main{
    height: 80vh;
}

.footer{
    height: 10vh;
}

.logo{
    width: 25%;
    padding-left: 1%;
}

.logo img{
    width: 80px;
    height: 80px;
}

a{
    color:#E6A767;
    text-decoration: none;
}

nav{
    grid-area: nav;
}

.flex-ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}

nav li{
    list-style-type: none;
    font-family: 'Lobster', cursive;
    font-size: medium;
    text-decoration: none;
    margin: 2%;
}

.nav-link{
    color:#C4823E;
    transition: all 0.8s;
}

.nav-link:hover{
    color:rgb(235, 230, 229);
    background-color: #C4823E;
} */


main{
    grid-area: main;
    padding:0% 8% 2% 8%;
    height: 100%;
}

h1{
    color: #C4703E;
    font-size:350%;
    text-align: center;
    font-family: 'Lobster', cursive;
}

h3{
    color:#C4823E;
    font-size:200%;
    text-align: center;
    font-family: 'Lobster', cursive;
}
h4{
    color: burlywood;;
    font-size:150%;
    text-align: center;
    height: 15%;
    margin-bottom: 2%;
    margin-top: 2%;
    
}

p{
    color:burlywood;
    padding-bottom: 1%;
    margin-bottom: 0;
}

/* footer{
    width: 100%;
    grid-area: footer;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
}

footer .firma{
    padding-left: 1%;
    width: 33%;
}

footer .redes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    width: 33%;
}

footer .shortContact{
    padding-right: 1%;
    text-align: right;
    width: 33%;
}

.signature{
    padding-left: 1%;
}

.networks{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
}

.shortContacts{
    padding-right: 1%;
    text-align: right;
}

.socials{
    width: 25%;
    height: 100%;
    padding-bottom: 1%;
}

.socials img{
    width: 40%;
    height: 90%;
    color:#E6A767;
} */

section{
    display: flex;
    flex-direction: row;
    height: 75%;
    padding-top: 2%;
}

.flexContent{
    text-align: justify;
    font-size: 90%;
    padding-left: 1%;
}

.flexContentImage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2%;
    margin-left: 1%;
    height: 100%;
}

.burgers-principal{
    width: 80%;
    height: 80%;
}

.formu{
    font-family: 'Lobster', cursive;
    margin-top: 10%;
}

label{
    color:#E6A767;
}

.formOpt{
    margin-bottom: 5%;
}

.checkbox{
    margin-left: 10px;
}

.boton{
    font-size: medium;
    font-family: 'Lobster', cursive;
    color:rgb(49, 39, 39);
    background-color: #C4823E;
    border-color: #C4823E;
}

.contacto{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


.flex-column{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70%;
}

.aboutUs{
    text-align: justify;
    font-size: 90%;
    width: 100%; 
    height: 50%;
}

.flex-us-photo-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 2%;
    width: 100%;
    height: 80%;
}

.carousel{
    width: 40%;
    height: 80%;
}

.flex-us-photo{
    width: 35%;
    height: 90%;
}

.flex-row{
    display: flex;
    flex-direction: row;
    height: 70%;
}

.flex-column{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70%;
}

.adress-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 15% 0 10%;
    padding: 1% 0 1% 2%;
    border: solid 3px #C4823E;
}

.map{
    border:0;
    margin: 4% 15% 0 10%;
}

/* TABLA MENU*/

.flex-table{
    display:flex;
    flex-direction: column;
    border: dashed 7px #E6A767;
    width: 100%;
    height: 70%;
}

.th{
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

.th p{
    color: #C4823E;
    font-family: 'Lobster', cursive;
    font-size: 112%;
}

.item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: burlywood;
    text-align: center;
    height: 45%;
}

.fotos{
    width: 30%;
}

.fotos img{
    padding: 0% 0 2% 1%;
    width: 50%;
    height: 90%;
    transition: all 1s;
}

.fotos img:hover{
    transform: scale(1.8);
}

.nombre{
    width: 20%;
}

.ingredientes{
    width: 30%;
}

.precio{
    width: 10%;
}


@media only screen and (max-width:600px){

    header{
        justify-content: center;
    }

    .header{
        height: 25vh;
    }
    
    .main{
        height: 100vh;
    }
    
    .footer{
        height: 10vh;
    }
    
    .flex-ul{
        justify-content:center;
        width: 100%;
    }
    
    h1{
        font-size:150%;
    }

    h3{
        font-size:130%;
    }
    
    .signature{
        text-align: center;
    }

    footer .shortContacts{
        text-align: center;
    }

    .socials{
        width: 20%;
        height: 100%;
        padding-bottom: 1%;
    }

    section{
        height: 90%;
    }

    .aboutUs{
        font-size: 80%;
    }

    .carousel{
        width: 80%;
        height: 90%;
    }

    .map{
        width: 200px;
        height: 150px;
    }

    .formu{
        font-family: 'Lobster', cursive;
        margin-top: 8%;
    }

    .th{
        display: none;
    }

    .th p{
        font-size: 90%;
    }

    .item{
        flex-direction: column;
        height: 50%;
        font-size: 90%;
    }

    .fotos{
        width: 100%;
    }
    
    .fotos img{
        padding: 0% 0 2% 1%;
        width: 50%;
        height: 90%;
        transition: all 1s;
    }
    
    .fotos img:hover{
        transform: scale(1.8);
    }
    
    .nombre{
        width: 100%;
        font-size: 112%;
        text-decoration: underline;
    }
    
    .ingredientes{
        width: 100%;
    }
    
    .precio{
        width: 100%;
    }

    .main-menu{
        height: 120vh;
    }
    
    .flex-table{
        display:flex;
        flex-direction: column;
        border: dashed 7px #E6A767;
        width: 100%;
        height: 100%;
    }
}

@media only screen and (min-width:600px){
    .header{
        height: 10vh;
    }
    
    .main{
        height: 90vh;
    }
    
    .footer{
        height: 10vh;
    }

    .map{
        width: 250px;
        height: 200px;
    }
}

@media only screen and (min-width:970px){
    .header{
        height: 10vh;
    }
    
    .main{
        height: 90vh;
    }
    
    .footer{
        height: 10vh;
    }

    .map{
        width: 427px;
        height: 300px;
    }

    section{
        height: 75%;
        margin-top: 5%;
    }

    .flexContent{
        font-size: 110%;
    }

    .burgers-principal{
        width: 80%;
        height: 90%;
    }
    
}