$anchor:#E6A767;
$font-lobster:'Lobster', cursive;

header{
    display: flex;
    flex-direction: row;

    .logo{
        width: 25%;
        padding-left: 1%;
    }
    
    .logo img{
        width: 80px;
        height: 80px;
    }
    
    a{
        color: $anchor;
        text-decoration: none;
    }
}

.flex-ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
     width: 100%;

    li{
        list-style-type: none;
        font-family: $font-lobster;
        font-size: medium;
        text-decoration: none;
        margin: 2%;
    }
}


.nav-link{
    color:#C4823E;
    transition: all 0.8s;
    &:hover{
        color:rgb(235, 230, 229);
        background-color: #C4823E;
    }
}

@media only screen and (max-width:576px){

    header{
        justify-content: center;
    }

    .flex-ul{
        justify-content:center;
        width: 100%;
    }

    .flex-ul li {
        font-size: small;
        margin: 0px; 
    }
    
}

@media only screen and (min-width:576px){
    
}

@media only screen and (min-width:970px){
    
}