$body-background:linear-gradient(to right, #414345, #232526);
$body-font-family:'Cabin', sans-serif;

*{
    margin: 0px;
    padding:0px;
}

body{
    background: $body-background;
    font-family: $body-font-family;
    height: 100%;
}

@import "header";
@import "main";
@import "footer";
